<div class="h-[100px] w-full z-10 md:h-[200px] bg-black relative md:rounded-t-xl rounded-none slide-in-left">
    <div class="cover-img w-full h-full">
        <img src="https://i.ibb.co/4wk6qNR/Blue-Modern-Lets-Do-This-Linked-In-Banner.png" alt="" class="w-full h-full object-cover">
    </div>

    <div class="profile-img w-[135px] h-[135px] md:w-[160px] md:h-[160px] md:left-9 bg-blue-200 overflow-hidden absolute bottom-0 left-5 rounded-full -translate-y-[-70px] border-4 border-black">
        <div class="open-to-work absolute">
             <img src="../../../assets/open-to-work.png" class="w-full h-full" alt="">
        </div>
        <div class="profile-img-link">
            <img src="../../../assets/profile-image.png" alt="" width="100%">
        </div>
    </div>
</div>