<div class="p-4 mt-2 text-white bg-gray-800 md:rounded-xl">
    <h2>Educación</h2>

    <div class="exp-item flex border-b py-3 items-center w-full">

        <div class="exp-img w-1/4 p-4 flex justify-center items-center">
            <img src="../../../assets/cpugms.png" alt="" class="h-[100px] object-contain">
        </div>
        <div class="exp-info w-3/4 text-sm">
            <h3 class="font-semibold">Adm. y Gest. de las Organizaciones</h3>
            <p>C.P.U.G.S.M</p>
            <p>2011 - 2017 </p>
            <p class="text-sm text-gray-400">La Rioja, Argentina</p>
        </div>
        

    </div>

    <div class="exp-item flex py-3 items-center  w-full border-b">

        <div class="exp-img w-1/4 p-4 flex justify-center items-center">
            <img src="../../../assets/unlar.png" alt="" class="h-[100px] object-contain">
        </div>
        <div class="exp-info w-3/4 text-sm">
            <h3 class="font-semibold">Ingeniería en Sistemas de Información</h3>
            <p>U.N.L.A.R</p>
            <p>2018 - Actualidad  (En curso - 3er año)</p>
            <p class="text-sm text-gray-400">La Rioja, Argentina</p>

        </div>
        

    </div>

    <div class="exp-item flex py-3 items-center  w-full">

        <div class="exp-img w-1/4 p-4 flex justify-center items-center">
            <img src="../../../assets/mindhub-logo.jpeg" alt="" class="h-[100px] object-contain">
        </div>
        <div class="exp-info w-3/4 text-sm">
            <h3 class="font-semibold">Bootcamp Full Stack Java</h3>
            <p>MindHub LA</p>
            <p>ago. de 2022 - dic. de 2022</p>
            <p class="text-sm text-gray-400">Argentina</p>
        </div>
        

    </div>
       

        
        
        

    
</div>