<div class="bg-gray-800 text-white p-4 mt-2 md:rounded-xl">
    <h2>Experiencia</h2>
    
    <div class="exp-item flex border-b py-3 items-center w-full">

        <div class="exp-img w-1/4 p-4 flex justify-center items-center">
            <img src="../../../assets/dicsys-logo.jpeg" alt="" class="h-[100px] object-contain">
        </div>
        <div class="exp-info w-3/4 text-sm">
            <h3 class="font-semibold">Aprendis en Practicas</h3>
            <p>Dicsys</p>
            <p>abr. de 2023 - ago. de 2023 - 5 meses</p>
            <p class="text-sm text-gray-400">Cordoba, Argentina</p>
            <p class="mt-2 hidden md:block"> <span class="font-semibold">Aptitudes</span>: Java - SpringBoot - Angular - Cypress - PHP - Laravel - Ionic - Genexus</p>
        </div>
        

    </div>

    <div class="exp-item flex py-3 items-center w-full">

        <div class="exp-img w-1/4 p-4 flex justify-center items-center">
            <img src="../../../assets/mindhub-logo.jpeg" alt="" class="h-[100px] object-contain">
        </div>
        <div class="exp-info w-3/4 text-sm">
            <h3 class="font-semibold">Full Stack Developer</h3>
            <p>MindHub LA</p>
            <p>ago. de 2022 - dic. de 2022 - 5 meses</p>
            <p class="text-sm text-gray-400">Argentina</p>
            <p class="mt-2 hidden md:block"> <span class="font-semibold">Aptitudes</span>: JAVA - SpringBoot - HTML - CSS - JavaScript - VueJS - PostgreSQL</p>

        </div>
        

    </div>

</div>