<div class="pt-20 p-4 bg-gray-800 text-white md:rounded-b-xl slide-in-left">

    <div class="profile-txt">
        <h1 class="profile-name text-2xl font-semibold">Matias Gonzalez</h1>
        <p class="my-2">
            Desarrollador Full Stack | JAVA | Spring Boot | Angular | TailwindCSS
        </p>
        <p class="text-gray-400">
            La Rioja, Argentina.
        </p>
    </div>
    <div class="border p-2 my-2 rounded-lg">
        <p class="font-semibold text-sm">Interés por oportunidades</p>
        <p class="my-2">Desarrollador de front-end, Desarrollador de back-end, Programador Full Stack.</p>
        <a href="#" class="text-sm text-blue-500">Ver todos los detalles</a>

    </div>
</div>